/*BODY*/
body{
    font: 15p/1.5 Arial, Helvetica, Sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4; 
}

/*GLOBAL*/
.container{
    /*por ser div é ., se fosse id seria #*/
    /*por ser responsivo se coloca em %*/
    width: 80%;
    margin: auto;
    overflow: hidden;/*se alguma sair da div, nao cria um scrollbar para puxar a pagina, entao ele esconde*/
}

.btn1{
    height: 38px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark{
    padding: 15px;
    background: #35424e;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*HEADER*/
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:#e8491d 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    /*coloquei como global para que todos o ul tivessem esse padrao e não apenas o do header*/
    margin: 0;
    margin-left: 1000px;
    padding: 0;
}

header li{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;/*topo direita rodape esquerda*/
}

header #Brand{
    float: left;
}

header #Brand h1{
    margin: 0;
}

header nav{
    float: left;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #1e8fcb;
    font-weight: bold;
}

header a:hover{
    color: whitesmoke;
    font-weight: bold;
}

/*Area da pesquisa*/
#search{
    min-height: 400px;
    background:url('../img/Clima-Chuva.png') no-repeat 0 -950px;
    text-align: center;
    color: darkslategrey;
}

#search h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#search p{
    font-size: 25px;
}

#news{
    padding: 15px;
    color: white;
    font-family: monospace;
    background: #35424a;
}

#news script{
    float: left;
}

#news h1{
    float: right;
    padding: 10px;
}

#news form{
    float: right;
    margin-top: 5px;
}

#news a{
    text-transform: uppercase;
    font-size: 15px;
}
   
#news ul{
    margin: 0;
    padding: 10px;
}

#news li{
    color: white;
}

#news input{
    padding: 4px;
    height: 25px;
    width: 400px;
}

/*MEIO*/
#mid{
    margin-top: 20px;
}

#mid .meio{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

/*SOBRE*/
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

article#art{
    float: left;
    width: 65%;
}

/*RODAPE*/
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}